.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.kolom {
  margin-top: 50px;
  margin-bottom: 50px;
}

.tbl {
  background: green;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

.tbl:hover {
  background: #0764b1;
  text-decoration: none;
}
